.git
.github
.spec
_build
deps
node_modules
doc
test
test-results
tmp
demo/_build
demo/deps
demo/doc
demo/export
demo/logs
demo/node_modules
demo/pages
demo/playwright-report
demo/test
demo/test-results
*.ez
*.tar
erl_crash.dump
.env
.env.*
*.secret
